@charset "UTF-8";

* {
    font-family: monospace;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    border: 15px solid #323330;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,0.5);
}

#display {
    
    background: rgb(133, 196, 159);
    border: 5px solid #323330;
    color: #5a5a5a;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 35px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #323330;
    
}

.button {
    background: steelblue;
    color: #323330;
    border-radius: 6px;
    margin: 5px;
    line-height: 90px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#equal {
    background-color: orange;
    color: whitesmoke;
}

.button:hover {
    box-shadow: 0px 0px 10px 2px rgba(36, 28, 100, 0.555) inset;
    transition: 0.3s;
}